{% extends "base.html" %}

{% block main %}

<div class="container mt-4">
    <h2>About Luke's Brewsite</h2>

    <p>
        For me, enjoying a local or craft beer with a loved one or friends is a
        top-tier experience. It is a friendly way to support small businesses,
        try something new, and spend quality time together. Whether we are
        taking a break after a long day or just passing time, the best part is
        the company. Sharing a table, a few laughs, and good conversation is a
        great way to unwind and let some stress go.
    </p>

    <p>Created by {{ user }}</p>
</div>
{% endblock main %}

